.App {
  text-align: center;
  position: relative;
}

.App-header {
  position: relative;
  background: url('./construction.svg');
  background-color: #f9fafb;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: 4em;
  font-weight: bolder;
  color: #3b464f;
}

.App-header p{
  height: auto;
  margin: 5px;
}

.App-header p a{
  font-size: 0.6em;
  color: #2bc952;
  text-decoration: none;
}

.App-header p::first-letter{
  color: #256de4;
}
